/* base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Libre Bodoni, Playfair, Quicksand;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  --cherry-red: #5d0a0b;
  --dark-gold: #7d5613;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  font-size: 0.95rem;
  line-height: 1.6;
}

h1,
h2,
h3 {
  text-wrap: balance;
  font-family: "Libre Bodoni", serif;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
}

.bold {
  font-weight: 600;
  font-style: italic;
}

input,
button,
textarea,
select {
  font-family: Quicksand;
  font-weight: 400;
}

button {
  font-family: "Manrope", sans-serif;
  font-size: 0.8rem;
  padding: 0.7rem 1.8rem;
  cursor: pointer;
  border: 1px solid #000;
  text-transform: lowercase;
  border-radius: 5px;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

hr {
  width: 85%;
  margin: 4rem auto;
  border: none;
  border-top: 1px solid #000;
}
