/* body{
  display: flex;
  height: 100svh;
  justify-content: center;
  align-items: center;
} */

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
}

#colorSelector{
  display: flex;
  flex-direction:row;
  align-items: center;
}
.colorSelect:has(.Selected){
  border: blue solid 5px;
}
.Selected{
  position: relative;
  bottom: 0;
  right: 0;
  color: white;
  background-color: blue;
}
#canvas{
  /* background-image: url("http://localhost:5174/Damier.jpg"); */
}
.invisibleImage{
  display: none;
}

#canvas2{
  /* background-image: url("http://localhost:5174/Damier.jpg"); */
  position: absolute;
  top:0;
  left:0;
}
.box{
  /* transition: .5s; */
  height: 75%;
  width: 75%;
}
/* parent div */
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: gray; */
  /* Create perspective */
  perspective: 800px;
  position: relative;
  width: 320px;
  height: 320px;
}

/* child div */
.canvas {
  border: 2px black solid;
  
  width: 100%;
  height: 100%;
  max-width: 90svh;
  
  aspect-ratio: 1;
  /* transform the child object. */
}
/*.box:hover{
  transform: rotateY(60deg);
  
}*/

/* #myRange{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}
#myRange::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
} */