/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-family: Libre Bodoni, Playfair, Quicksand;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  --cherry-red: #5d0a0b;
  --dark-gold: #7d5613;
}
input,
button,
textarea,
select {
  font-family: Quicksand;
  font-weight: 400;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Header */
